name: SFDX Test Run on Push

on:
  push:
    branches:
      - master


jobs:
    deploy_to_prod:

        runs-on: ubuntu-latest

        steps:
          - name: Checkout Repo
            uses: actions/checkout@master
            with:
               ref: ${{ github.ref }}

          - uses: sfdx-actions/setup-sfdx@v1
            with:
              sfdx-auth-url: ${{ secrets.SAND_AUTH_SECRET }}
          - name: sfdx-test-run
            run: sfdx force:source:deploy --sourcepath force-app/main/default --json --loglevel fatal
          - name: sfdx-test-run
            run: sfdx force:apex:test:run -l RunLocalTests -w 30

          - uses: sfdx-actions/setup-sfdx@v1
            with:
              sfdx-auth-url: ${{ secrets.PROD_AUTH_SECRET }}
          - name: sfdx-test-run
            run: sfdx force:source:deploy --sourcepath force-app/main/default --json --loglevel fatal
          - name: sfdx-test-run
            run: sfdx force:apex:test:run -l RunLocalTests -w 30