name: Deploy to Sandbox

on: [push]

env:
  CUMULUSCI_KEYCHAIN_CLASS: cumulusci.core.keychain.EnvironmentProjectKeychain
  CUMULUSCI_SERVICE_github: ${{ secrets.CUMULUSCI_SERVICE_github }}

jobs:
    deploy_to_sandbox:

        runs-on: ubuntu-latest

        steps:
          - name: Checkout Repo
            uses: actions/checkout@master
            with:
               ref: ${{ github.ref }}

          - uses: sfdx-actions/setup-sfdx@v1
            with:
              sfdx-auth-url: ${{ secrets.AUTH_SECRET }}
          - name: sfdx-test-run
            run: sfdx force:source:deploy --sourcepath force-app/main/default --json --loglevel fatal
          - name: sfdx-test-run
            run: sfdx force:apex:test:run -l RunLocalTests -w 30
          - name: Set up Python
            uses: actions/setup-python@v1
            with:
              python-version: "3.8"
          - name: Install CumulusCI
            run: |
              python -m pip install -U pip
              pip install cumulusci
          - run: |
              cci flow run ci_feature --org dev --delete-org
